@model new_Karlshop.Data.Category

@{
    ViewData["Title"] = "CategoryEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CategoryEdit</h2>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CategoryEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden="hidden">
                <label asp-for="cat_id" class="control-label"></label>
                <input asp-for="cat_id" class="form-control" />
                <span asp-validation-for="cat_id" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="parent_id" class="control-label"></label>
                <input asp-for="parent_id" class="form-control" />
                <span asp-validation-for="parent_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cat_name" class="control-label"></label>
                <input asp-for="cat_name" class="form-control" />
                <span asp-validation-for="cat_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="intro" class="control-label"></label>
                <input asp-for="intro" class="form-control" />
                <span asp-validation-for="intro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Category">Back to List</a>
</div>

