@model IEnumerable<new_Karlshop.Models.OrderDetailVM>

@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderDetails</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.goodsName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.quantity)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.goodsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>

        </tr>
}
    </tbody>
</table>
