@using Microsoft.AspNetCore.Identity
@using new_Karlshop.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - new_Karlshop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <meta property="og:url" content="https://karlshopv1.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Karl Shop" />
    <meta property="og:description" content="Welcome to KarlShop! We provide the best Products" />
    <meta property="og:image" content="http://i0.kym-cdn.com/entries/icons/mobile/000/002/830/sad_frog.jpg" />
    @*<script src="~/js/canvas.js"></script>*@
</head>

<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Karlshop</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @{
                        var a1 = "";
                        if (ViewBag.menuActive != "Home")
                        {
                            a1 = "";
                        }
                        else
                        {
                            a1 = "active";
                        }
                        <li class=@Html.Raw(a1)><a asp-area="" asp-controller="Home" asp-action="Welcome"><img src="~/images/home.png" style="width:20px;" />   Home</a></li>
                    }
                    @{

                        if (ViewBag.menuActive != "Gallery")
                        {
                            a1 = "";
                        }
                        else
                        {
                            a1 = "active";
                        }

                        <li class=@Html.Raw(a1)><a asp-area="" asp-controller="Home" asp-action="ShowGoods">Gallery</a></li>
                    }
                    @{

                        if (ViewBag.menuActive != "Cart")
                        {
                            a1 = "";
                        }
                        else
                        {
                            a1 = "active";
                        }
                        <li class=@Html.Raw(a1)><a asp-area="" asp-controller="Home" asp-action="ShowCart" asp-route-id="0"><img src="~/images/cart.png" style="width:20px;" /> Cart</a></li>
                    }
                    @*@{

                        if (ViewBag.menuActive != "Bought")
                        {
                            a1 = "";
                        }
                        else
                        {
                            a1 = "active";
                        }
                                        <li class=@Html.Raw(a1)><a asp-area="" asp-controller="Home" asp-action="Bought" >Already Bought</a></li>
                        }*@

                    @{

                        if (ViewBag.menuActive != "About")
                        {
                            a1 = "";
                        }
                        else
                        {
                            a1 = "active";
                        }
                        <li class=@Html.Raw(a1)><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    }



                </ul>
                @await Html.PartialAsync("_LoginPartial")



            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <div class="col-xs-10">
            <footer>
                <!-- Load Facebook SDK for JavaScript -->
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                <hr />
                <p>&copy; 2018 - new_Karlshop</p>
                <!-- Your share button code -->
                <span class="fb-share-button"
                      data-href="https://karlshopv1.azurewebsites.net/"
                      data-layout="button_count">
                </span>

                <script>
                    window.twttr = (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                            t = window.twttr || {};
                        if (d.getElementById(id)) return t;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);

                        t._e = [];
                        t.ready = function (f) {
                            t._e.push(f);
                        };

                        return t;
                    }(document, "script", "twitter-wjs"));</script>

                <br />
                <br />
                <a class="twitter-share-button"
                   href="https://twitter.com/intent/tweet"
                   data-size="small">
                    Tweet
                </a>




                <script src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
                <script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="50" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
            </footer>
        </div>
    </div>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
