@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            
            <script src="~/js/jquery.js"></script>
            <script src="~/js/jquery.validate.js"></script>
            <script src="~/js/jquery.validate.unobtrusive.js"></script>
           
            <recaptcha />
            <br />
            <button type="submit" class="btn btn-default">Register</button>

            <span class="text-danger" id="recaptchaErrorMessage"></span>

        </form>
        @section Scripts {
            <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
        }

        <br />
        <a href="SecureConfirm">Super Register</a>
        <br />
    </div>
</div>

@*@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}*@
