


<h2>Karl Shop <small>Design Document</small></h2>
<hr />
<br />
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs">
                <br />
                <div class="list-group">
                    <a class="list-group-item" href="~/Home/About/#10">1. Description</a>
                    <a class="list-group-item" href="~/Home/About/#11">2. Functionalities</a>
                   
                </div>
            </div>
            <div class="col-md-9 about">
                <a name="10">  </a>

                <h3 class="bg-success">Description</h3>
                <p class="bg-info">
                    Karl Shop is designed for customers to purchase product easily, we provide the best products with the
                    lowest price
                </p>
                <a name="11">  </a>

                <h3 class="bg-success">Functionalities</h3>

                <p class="bg-info">There is a simple chat room using websocket in welcome page</p>
                <p class="bg-info">Most saled products are calculated and displayed in welcome page </p>
                <p class="bg-info">DropList is availabe in Index/Gallery page</p>
                <p class="bg-info">Search/Sort is available in index page </p>

                <h4 class="bg-success">Users</h4>

                <p class="bg-info">Users can add products to cart </p>
                <p class="bg-info">Users need to confirm personal contact information before checkout</p>
                <p class="bg-info">Users need to pay with paypal </p>
                <p class="bg-info">Users can view their cart/purchased items  </p>
                <p class="bg-info">Users can write review/rate to each purchased item </p>
                <p class="bg-info">Users can send feedback to karl's email by attach information in Contact Page </p>

                <h4 class="bg-success">Admins</h4>

                <p class="bg-info">Admins have all the features that users have.</p>
                <p class="bg-info">Admins have a drop down menu </p>
                <p class="bg-info">Admins can create/edit/view category/goods/UserRoles </p>
                <p class="bg-info">Admins can view customers/payments </p>

</div>
        </div>
    </div>
</div>