@model IEnumerable<new_Karlshop.Models.ViewedVM>

@{
    ViewData["Title"] = "ShowViewed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Viewed Items</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.goodName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.goodBreif)
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.goodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.goodBreif)
            </td>


        </tr>
}
    </tbody>
</table>
