@model new_Karlshop.Models.AccountViewModels.UserRoleVM

<h4>User Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Assign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!-- This shows the label. -->
                <label asp-for="Email" class="control-label"></label>

                <!-- Drop down for List of strings with user selected. -->
                @Html.DropDownList("Email",
                    new SelectList(ViewBag.UserSelectList, "Value", "Text",
                                   ViewBag.SelectedUser),
                    "Select User",
                    new { @id = "userDD", @class = "form-control" })

                <!-- This shows validation for dropdown of 'Email' property. -->
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>

                <!-- Drop down for SelectList with 'Value' and 'Text' properties. -->
                @Html.DropDownList("Role",
                    new SelectList(ViewBag.RoleSelectList, "Value", "Text"),
                    "Select Role",
                    new { @id = "roleDD", @class = "form-control" })

                <!-- This shows validation for dropdown of 'Role' property. -->
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
