@model IEnumerable<new_Karlshop.Models.AccountViewModels.RoleVM>

@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<p>
    @Html.ActionLink("Assign Roles", "Assign",
                     new { userName = @ViewBag.UserName })
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>

            </tr>
        }
    </tbody>

