.container img { max-width:100%; }

.container a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

ul.thumbnails { 
    margin-bottom: 0px;
}

/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}

.carousel-control{
    color:none;
}


/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}

.container li {
    list-style-type: none;
}


::-moz-selection { background: #ff5e99; color: #FFFFFF; }